<footer class="text-center bg-gray-100 text-gray-600 bottom-0">
  <div class="text-center p-6 bg-gray-200 text-sm"><div>
      <div style="box-sizing: border-box;margin: auto;">
        <a routerLink="/home">
          <img
            src="https://riem-apotheke-bucket.s3.eu-west-2.amazonaws.com/logo_vector_520440a990.svg?updated_at=2022-10-20T20:14:34.768Z"
            alt=""
            srcset=""
          />
        </a>
      </div>

    </div>
    <p>
      <a class="hover:text-blue-400" routerLink="/impressum">Impressum</a> | <a
        class="hover:text-blue-400"
        routerLink="/datenschutz"
        >Datenschutz</a
      >
    </p>
    <span>All rights reserved: Riem-Apotheke © 2022 Copyright</span>
  </div>
</footer>
