<header>
  <div
    class="relative overflow-hidden bg-no-repeat bg-cover bg-fixed"
    style="
      background-position: 50%;
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/146.webp');
      height: 350px;
      @media (width<1000px){
        height:60vh
      }
    "
  >
    <div
      class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.75)"
    >
      <div class="flex justify-center items-center h-full">
        <div class="text-center text-white px-6 md:px-12">
          <h1
            class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-indigo-500 lg:text-5xl sm:text-xl font-bold mt-0 mb-6"
            *ngIf="data.greeting as greeting"
          >
            {{ greeting }}
          </h1>
          <h3
            class="lg:text-3xl sm:text-lg font-bold mb-8"
            *ngIf="data.beschreibung as beschreibung"
          >
            {{ beschreibung }}
          </h3>
          <button
            type="button"
            class="py-4 px-6 sm:px-10 lg:px-8 xl:px-10 inline-flex items-center justify-center text-center  bg-clip bg-gradient-to-r from-blue-500 to-violet-500 border-2 border-white text-white font-medium text-md leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
          >
            <a routerLink="angebote">Unsere Angebote</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
