h1 {
  font-weight: bolder;
  line-height: 4rem;
  color: black;
  @apply text-black text-6xl;
}

p {
  @apply break-words !important;
}

@media screen and (max-width:997px) {

  .header-panel{
    background-position: center;
    background-size: cover;
  }

  p.header-title{
    font-size: 40px !important;
  }
}
