<header>
  <!-- Background image -->
  <div
    class="p-12 text-center relative overflow-hidden bg-no-repeat h-96 lg:h-screen bg-fixed bg-center"
    style="
      background-image: url('/assets/riem/entrance.jpg');
    "
  >
    <div
      class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(185, 185, 194, 0.5)"
    >
      <div class="flex justify-center items-center h-full">
        <div *ngIf="data.name as name" class="text-white">
          <h1 class="font-bold text-6xl mb-4">{{name}}</h1>
          <h2 *ngIf="data.greeting as greeting"  class="font-semibold text-4xl mb-4">
            {{greeting}}
          </h2>
          <h4 *ngIf="data.beschreibung as beschreibung" class="font-semibold text-xl mb-6">
            {{beschreibung}}
          </h4>
          <a
            class="inline-block px-7 py-3 mb-1 border-2 border-gray-200 text-gray-200 font-medium text-sm leading-snug uppercase rounded hover:bg-white hover:text-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
            routerLink="/angebote"
            role="button"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            >Unsere Angebote</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
