div.price-item{
  display: flex;
  padding-right: 5%;
  flex-direction: column;
  padding-left: 5%;
}

label.price-label{
  font-size: 18px;
  font-weight: bold;
}

.ribbon {
  position: absolute;
  left: 19px;
  top: -59px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.zoom {
  transition: transform .5s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
}

.product-amount {
  margin-left: 13px;
  font-size: 23px;
  margin-right: 13px;
  width: 50px;
  background-color: #f3f4f6;
  text-align: center;
  border: 0px;
}

.cart-btn{
  font-size: 20px;
  height: 34px;
  width: 7px;
  padding: 2px 28px 2px 18px;
}

.add-cart-ico:hover{
  color:blue
}
