<div
  class="p-12 text-center relative overflow-hidden bg-no-repeat h-96 lg:h-screen bg-fixed"
  style="background-image: url('/assets/riem/angebot.jpg');
  background-size:100% 100vw;
  background-position:center "
>
  <div
    class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(195, 195, 199, 0.5)"
  >
   <section class="flex p-4 justify-center align-middle">
    <app-angebot></app-angebot>
    <app-angebot></app-angebot>
    <app-angebot></app-angebot>
    <app-angebot></app-angebot>
  </section>
  </div>
 
</div>
