<div class="container my-24 px-6 mx-auto">
  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800 text-center">
    <!-- Actual search box -->

    <div class="text-3xl font-bold mb-12" style="margin-top: 10rem;">
      <app-searchbar></app-searchbar>
    </div>
    <div class="grid md:grid-cols-4 gap-x-6 lg:gap-x-12" style="margin-top: 6rem;">
      <app-product-item></app-product-item>
      <app-product-item></app-product-item>
      <app-product-item></app-product-item>
      <app-product-item></app-product-item>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
