<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">
    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800">
      <div class="grid lg:grid-cols-4 gap-6">

        <div class="mb-12">
          <p class="font-bold mb-4">Anim pariatur cliche reprehenderit?</p>
          <p class="text-gray-500">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt autem numquam dolore
            molestias aperiam culpa alias veritatis architecto eos, molestiae vitae ex eligendi
            libero eveniet dolorem, doloremque rem aliquid perferendis.
          </p>
        </div>

        <div class="mb-12">
          <p class="font-bold mb-4">Anim pariatur cliche reprehenderit?</p>
          <p class="text-gray-500">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt autem numquam dolore
            molestias aperiam culpa alias veritatis architecto eos, molestiae vitae ex eligendi
            libero eveniet dolorem, doloremque rem aliquid perferendis.
          </p>
        </div>

        <div class="mb-12">
          <p class="font-bold mb-4">Non cupidatat skateboard dolor brunch?</p>
          <p class="text-gray-500">
            Distinctio corporis, iure facere ducimus quos consectetur ipsa ut magnam autem
            doloremque ex! Id, sequi. Voluptatum magnam sed fugit iusto minus et suscipit? Minima
            sunt at nulla tenetur, numquam unde quod modi magnam ab deserunt ipsam sint aliquid
            dolores libero repellendus cupiditate mollitia quidem dolorem odit
          </p>
        </div>

        <div class="mb-12">
          <p class="font-bold mb-4">
            Praesentium voluptatibus temporibus consequatur non aspernatur?
          </p>
          <p class="text-gray-500">
            Minima sunt at nulla tenetur, numquam unde quod modi magnam ab deserunt ipsam sint
            aliquid dolores libero repellendus cupiditate mollitia quidem dolorem.
          </p>
        </div>

      </div>
    </section>
    <!-- Section: Design Block -->

  </div>
  <!-- Container for demo purpose -->
