<div
  *ngIf="highlight"
  class="relative overflow-hidden py-6 sm:py-12 w-96"
>
  <app-highlight-toast
    class="w-screen"
    [title]="highlight.title"
    [description]="highlight.description"
    [color]="highlight.color"
  ></app-highlight-toast>
  <div *ngIf="highlight.bild as bild" class="max-w-xl px-5 text-center">

    <img [src]="bild.url" alt="highlight.title" class="rounded-lg" />
    <!-- <h2 class="mb-2 text-[42px] font-bold text-zinc-800">Check your inbox</h2>
      <p class="mb-2 text-lg text-zinc-500">We are glad, that you’re with us ? We’ve sent you a verification link to the email address <span class="font-medium text-indigo-500">mail@yourdomain.com</span>.</p>
      <a href="/login" class="mt-3 inline-block w-96 rounded bg-indigo-600 px-5 py-3 font-medium text-white shadow-md shadow-indigo-500/20 hover:bg-indigo-700">Open the App →</a> -->
  </div>
</div>
<!-- flex flex-col items-center justify-center  -->
