<div
  *ngIf="highlight"
  class="relative"
>
    <div class="card">
      <header>
        <time
      datetime="2018-05-15T19:00">May 15 - 2018</time>
        <div class="logo">
          <img src="/assets/riem/abda.svg"></div>
        <div class="sponsor">Sponsor</div>
      </header>
      <div class="announcement">
        <h3>Hi there</h3>
        <h1>This message</h1>
        <h3 class="italic">+ and many more</h3>
      </div>
    </div>

</div>
<!-- flex flex-col items-center justify-center  -->
