<div
  *ngIf="highlight"
  class="relative"
>
    <div class="card">
      <header>
        <time
        [attr.datetime]="date.toDateString()"
        >{{day}} - {{month}} - {{year}}</time>
        <div class="logo">
          <img src="/assets/riem/abda.svg"></div>
        <div class="sponsor">Riem-Apotheke</div>
      </header>
      <div class="announcement">
        <h1 style="line-height: 3rem;margin-bottom: 2rem;">{{highlight.title}}</h1>
        <h3 class="italic">{{highlight.description}}</h3>
      </div>
    </div>

</div>
<!-- flex flex-col items-center justify-center  -->
